[Desktop Entry]
Categories=Utility;
Comment=Linux front-end for ZeroTier
Exec=su -c "/opt/ZeroTierInstaller/zerotier-exec"
Icon=/opt/ZeroTierInstaller/zerotier-gui.png
Name=ZeroTier GUI (SU)
Terminal=true
Type=Application
Version=1.2.2
