#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Utility;
Comment=Linux front-end for ZeroTier
Exec=sudo /opt/ZeroTierInstaller/zerotier-exec
Icon=/opt/ZeroTierInstaller/zerotier-gui.png
Name=ZeroTier GUI (SUDO)
Terminal=true
Type=Application
